# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [12]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this data folder chipotle.tsv

In [13]:
data = pd.read_csv("data/chipotle.tsv", sep = "\t")

### Step 3. Assign it to a variable called chipo.

In [14]:
chipo = data

In [15]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

### Step 4. How many products cost more than $10.00?

In [17]:
prices = [float(value[1:]) for value in chipo.item_price]

chipo.item_price = prices

In [19]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39

In [22]:
chipo10 = chipo[chipo.item_price > 10.0]

chipo10.head(3)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [33]:
chipo_filtered = chipo10.drop_duplicates(["item_name","item_price"])

chipo_filtered.head(3)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75

In [34]:
chipo_one = chipo_filtered[chipo_filtered.quantity == 1]

price_per_item = chipo_one[["item_name","item_price"]]

price_per_item.sort_values("item_price", ascending = False)

price_per_item.head(3)

        item_name  item_price
5    Chicken Bowl       10.98
7   Steak Burrito       11.75
13   Chicken Bowl       11.25

### Step 6. Sort by the name of the item

In [40]:
chipo.item_name.sort_values().value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Burrito                                    6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 7. What was the quantity of the most expensive item ordered?

In [42]:
chipo.sort_values("item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [44]:
chipo[chipo.item_name == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [45]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

In [48]:
chipo[chipo.item_name == "Veggie Salad Bowl"].shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [51]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [53]:
chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].shape[0]

20

In [54]:
len(chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)])

20