# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this data folder chipotle.tsv

In [5]:
data = pd.read_csv("data/chipotle.tsv", sep = "\t")

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = data

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [19]:
chipo.size

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [24]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [26]:
chipo.columns.size
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [27]:
for colname in chipo.columns:
    print(colname)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [44]:
c = chipo.groupby("item_name").sum()
c = c.sort_values(["quantity"], ascending = False)

c.head(10)

                              order_id  quantity
item_name
Chicken Bowl                    713926       761
Chicken Burrito                 497303       591
Chips and Guacamole             449959       506
Steak Burrito                   328437       386
Canned Soft Drink               304753       351
Chips                           208004       230
Steak Bowl                      193752       221
Bottled Water                   175944       211
Chips and Fresh Tomato Salsa    100419       130
Canned Soda                      76396       126

### Step 10. How many items were ordered?

100

### Step 11. What was the most ordered item in the choice_description column?

In [55]:
cd = chipo.groupby("choice_description").sum()
cd = cd.sort_values(["quantity"], ascending = False)
cd.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [66]:
chipo[["quantity"]].sum()

total_items_ordered = chipo["quantity"].sum()

In [67]:
total_items_ordered

4972

### Step 13. Turn the item price into a float

In [77]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

In [78]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 14. How much was the revenue for the period in the dataset?

In [89]:
revenue_per_row = chipo.item_price * chipo.quantity

revenue = revenue_per_row.sum()

int(revenue)

39237

### Step 15. How many orders were made in the period?

In [97]:
orders = chipo.order_id.value_counts().size
orders

1834

### Step 16. What is the average amount per order?

In [109]:
order_grouped = chipo.groupby(["order_id"]).sum()

np.round(order_grouped.mean()["quantity"], 2)

2.71

### Step 17. How many different items are sold?

In [115]:
chipo.item_name.value_counts().count()

50

In [113]:
chipo.item_name.value_counts().sum()

4622